<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets async="false">
        <target name="console" type="ColoredConsole"
                layout="${longdate},${processtime},[${threadid}],${level},${logger},${message}">
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>
        <target name="file" type="File"
                layout="${longdate},${processtime},[${processid}-${threadid}],${level},${logger},${message}"
                fileName="${basedir}/log/op.log" archiveFileName="${basedir}/log/op.{#}.log"
                archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="10000"
                encoding="utf-8" concurrentWrites="true" keepFileOpen="false" />
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="console" />
        <!--  <logger name="*" minlevel="Debug" writeTo="file" />  -->
    </rules>
</nlog>